__pycache__
build*
compile_commands.json
.cache/
.idea/
.pgdata/
.cores/
.ccache/
.devcontainer
.vscode
cmake-build-debug/
Testing/
!Makefile.local
!third_party/
!third_party/userver/
configs/static_config.yaml
